/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
/*import url(../../lib/font/source-sans-pro/source-sans-pro.css);*/

@font-face {
	font-family: "Roboto-condensed";
	src: url(roboto-2014/RobotoCondensedRegular.ttf) format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Roboto-condensed";
	src: url(roboto-2014/RobotoCondensed-Bold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url(roboto-2014/Roboto-Regular.ttf) format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url(roboto-2014/Roboto-Bold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url(roboto-2014/Roboto-Italic.ttf) format("truetype");
	font-style: italic; 
}




section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: Roboto, "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }


.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: Roboto, "Source Sans Pro", Helvetica, sans-serif;
/*  font-weight: 600;*/
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: normal;
/*  text-transform: uppercase;*/
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-family: Roboto-condensed;
  font-size: 3.5em; 
  margin-bottom: 10px;
  margin-top: 200px;
  border-bottom: 2px dotted #DDD;
  padding-bottom: 5px;
  
  }

.reveal h2 {
  font-size: 2.1em; 
  padding-bottom: 10px;
  border-bottom: 2px dotted #DDD;
  font-family: Roboto-condensed;}
  
 
.reveal .title h2 {
  padding-bottom: 0;
  border-bottom: none}
  

.reveal h3 {
  font-size: 1.2em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 10px 0;
  line-height: 1.3;
  font-size: 1.7em;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 95%;
  margin: 20px 0px;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); */
}

.reveal code {
    font-family: monospace;
    line-height: initial;
}

.reveal pre code {
  /* display: block;*/
  font-size: 3.1em;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }
  
.reveal code.language-code {
    background: black;
    color: white;
    display: inline-block;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold;
  font-size: 0.8em;
  vertical-align: middle; }
  
.reveal table tfoot td {
  font-weight: bold;
  font-size: 1em;
  vertical-align: middle; }

  
.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; 
  border-left: double;
}

.reveal table th:first-child,
.reveal table td:first-child {
  border-left: none;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th.halign-center,
.reveal table td.halign-center {
  text-align: center; }
  
  
.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal table tfoot + tbody tr:last-child td {
    border-bottom: 1px solid;  }

.reveal table tfoot tr:last-child td {
    border-bottom: none;  }	
	
.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.admonitionblock>table td.icon {
    text-align: center;
    width: 80px;
}

.reveal .admonitionblock td {
  vertical-align: middle
}

.reveal .admonitionblock td.icon [class^="fa fa-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
}

.reveal .admonitionblock td.icon .fa-exclamation-circle:before {
    content: "\f06a";
    color: #2e409a;
} 


.reveal .title {
  font-weight: bold;
} 

.reveal .admonitionblock {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  margin: 30px 0px
}

.reveal h[level="4"] {
  font-weight: bold;
}

.reveal .tablesmallfont * {
  font-size: 0.95em
}

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0em 0.2em 0em 0.2em;
}

.reveal table.tableblock {
    /*border-top: 1px solid black;
     border-bottom: 1px solid black;*/
}

.reveal table.tableblock.tablenoborder {
    border-top: none;
    border-bottom: none;
}

th.valign-middle, td.valign-middle {
    vertical-align: middle;
}

td.valign-top {
  vertical-align: top;
}


  
/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
 /*   vertical-align: middle;*/
/*    margin: 15px 0;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 2%; */}


.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

.reveal .author small {
  margin-top: 20px;
  font-size: 1.1em;
  font-family: Roboto-condensed;
  /*font-weight: bold;*/
  color: #AAA
  /*font-style: oblique;*/
}  
  
/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2a76dd;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

  
.reveal .listingblock pre {
  margin: auto
}


.reveal .listingblock {
  margin-bottom: 0.6em
}

.reveal .line-through {
    text-decoration: line-through;
}

body {
  background-image: url(pattern.svg);
  background-repeat: repeat;
}
  

.reveal  .imageblock {
  margin: 2em 0px;
}

.reveal .preamble {
    display: block;
    position: absolute;
    bottom: 80px;
    width: 100%;
    color: #2a76dd;
}

.reveal .preamble a {
    color: #2a76dd;
}

section.title {
  height: 100%;
}